.searchForm{
    width: 400px;
    height: 30px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}
.searchFormContainer{
    display: flex;
    justify-content: center;

}