.ulKey{
    width: 300px;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.liKey{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 200;
    margin-bottom: 30px;
    justify: center;


}
.containerUL{
    width: 400px;
    display: flex;
}
.bottonMore{
    margin-top: 10px;
    width: 200px;
}
.titleFilm{
    width: 200px;
}
.buttonInfo{
    width: 200px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    background-color: transparent;
}
.moreInformations{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
}
.Columb{
    display: flex;

}
.titleFilm{
    font-size: 18px;
    color: whitesmoke;
}